# temp files
*.sh~
*.*~
.DS_Store
*desktop.ini

# Microsoft installers
*.msi

# Windows executable
*.exe

# Mac OS X installers
*.dmg

# Library building folders
*.build
*.xcodeproj
/build*/
bin/
docs/api/html/
lib/
installed/
api/Debug
api/Release
examples/Debug
examples/Release
/python/__pycache__/
/python/*.dll
/python/*.pyd
/python/bagPy.py
/python/bagTestPy.py
/stage/
swig_wrapper/

# Visual Studio session files.
/.vs

# CMake nonsense
api/CMakeScripts
CMakeFiles
CMakeScripts
cmake_install.cmake
CMakeCache.txt

# External libs building folders
extlibs/hdf5*/
extlibs/beecrypt/
extlibs/libxml2/
extlibs/zlib/


