language: cpp

git:
  submodules: false

os: linux
dist:
  #- xenial
  - bionic
compiler:
  - clang
  - gcc
env:
  - PYTHON_VERSION=3.6
  - PYTHON_VERSION=3.7

install:
  # Download miniconda.
  - sudo apt-get update
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  # Install miniconda.
  - bash miniconda.sh -b -p $HOME/miniconda
  #- export PATH="$HOME/miniconda/bin:$PATH"
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda config --add channels conda-forge
  - conda update -q conda
  # Useful for debugging any issues with conda.
  - conda info -a
  # Create conda test environment.
  - conda create -q -n test-environment python=$PYTHON_VERSION
  - conda activate test-environment
  # Install dependencies.
  - conda install cmake ninja hdf5 libxml2 swig catch2
  - conda list --show-channel-urls

script:
  - cmake -G Ninja -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=$HOME/install -B build -S .
  - cmake --build build
  - cmake --install build
  #- ctest -build-config Release --progress --verbose
  - build/tests/bag_tests --samples-path examples/sample-data
  - python python/test_all.py
